{{#if group}}
  <h3>Group {{group}}</h3>
{{else}}
  <h3>Groups</h3>
{{/if}}
<div class="targets">
  {{raid-signup-target role="tank"}}
  {{raid-signup-target role="healing"}}
  {{raid-signup-target role="dps"}}
</div>
